#whole {
  padding: 20px 20px 20px 20px;
  background-color: silver;
}

#fb-icon {
  width: 30px;
}

#linkedin-icon {
  width: 30px;
}

h1 {
  font-family: papyrus;
}

.right {
  float: right;
}

#top-row {
  padding: 20px 60px 20px 60px;
  background-color: #7ea8ea;
  border-style: dotted;
}

#about {
  padding: 10px 20px;
}

#portfolio {
  padding: 10px 20px;
}

#contact {
  padding: 10px 20px;
}

#mid {
  padding: 20px 60px 20px 60px;
  background-color: white;
  border-style: groove;
}

h3 {
  text-align: center;
  font-size: 150%;
  font-family: broadway;
}

h4 {
  font-family: broadway;
  text-align: justify;
  font-size: 120%;
  margin: 40px 80px 40px 80px;
}

.col-3 {
  width: 31.5%;
}

#zeus {
  width: 95%;
}

#middle {
  background-color: black;
  padding: 10px 0px 10px 0px;
}

h4 {
  text-align: justify;
}
