#whole {
  padding: 20px 20px 20px 20px;
  opacity: 0%;
}

#bck {
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}

#linkedin-icon {
  width: 15%;
}

h1 {
  text-align: center;
  font-family: Malgun Gothic;
}

#top-row {
  padding: 10px 60px 10px 60px;
}

#mid {
  padding: 20px 60px 20px 60px;
}

h3 {
  text-align: center;
  font-size: 150%;
  font-family: Malgun Gothic;
}

h4 {
  font-family: Malgun Gothic;
  text-align: justify;
  font-size: 110%;
  margin: 20px 60px 20px 60px;
  text-indent: 2em;
}
